{% extends "base.html" %}

{% block title %}Clientes - Admin{% endblock %}

{% block content %}

<h1 class="admin-title">Clientes cadastrados</h1>

<a href="{{ url_for('admin_dashboard') }}" class="btn-add">Voltar ao painel</a>

<table class="admin-table">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>CPF</th>
    </tr>

    {% for c in clientes %}
    <tr>
        <td>{{ c.id }}</td>
        <td>{{ c.nome }}</td>
        <td>{{ c.email }}</td>
        <td>{{ c.telefone }}</td>
        <td>{{ c.cpf }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
