{% extends "base.html" %}

{% block title %}Login Admin{% endblock %}

{% block content %}

<h1 class="admin-title">Login Administrativo</h1>

<div class="admin-form">

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flash-container">
        {% for category, msg in messages %}
          <li class="flash">{{ msg }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form method="post">
        <label>Email:</label>
        <input type="email" name="email" required>

        <label>Senha:</label>
        <input type="password" name="senha" required>

        <button type="submit" class="btn-add">Entrar</button>
    </form>

    <a href="{{ url_for('index') }}" class="btn-edit">Voltar ao site</a>
</div>

{% endblock %}
