{% extends "base.html" %}
{% block title %}Login Admin{% endblock %}

{% block content %}

<div class="cadastro-container">
    <div class="form-card">

        <h2>Login Administrativo</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class="flash-container">
            {% for category, msg in messages %}
              <li class="flash">{{ msg }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        <form method="post">
            <div class="input-group">
                <input type="email" name="email" placeholder="E-mail" required>
            </div>

            <div class="input-group">
                <input type="password" name="senha" placeholder="Senha" required>
            </div>

            <button type="submit" class="btn-primary">Entrar</button>
        </form>

        <a href="{{ url_for('index') }}" class="btn-secondary">Voltar ao site</a>

    </div>
</div>

{% endblock %}

